.content {
    margin-left: 250px; /* Width of the sidebar */
    min-height: 100vh;
    background: #FFFFFF;
    transition: 0.5s;
}

.content-full {
    margin-left: 0; /* Adjust content when sidebar is hidden */
    width: 100%;
}
