<div class="container mt-4">
  <h2>Contact Details</h2>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ contact?.name }}</h5>
      <p class="card-text">
        <strong>Company:</strong> {{ contact?.company }}<br>
        <strong>Email:</strong> {{ contact?.email }}<br>
        <strong>Phone:</strong> {{ contact?.phone }}<br>
        <!-- <strong>Notes:</strong> {{ contact?.notes?.join(', ') }} -->
      </p>
      <button class="btn btn-primary" [routerLink]="['/add-edit', contact?.id]" (click)="OnEditContact(contact?.id!)">Edit</button>
    </div>
  </div>
</div>
